#build
*.a
*.o
*.d
*.so
*.pcm
*build*

#job
jobs
output
backup

#scriptfile
*.sh

#plot
*.png
*.pdf

#install
*install*

#SONIC template
*template*
initedFiles*

#MCGlauber
MCGlauber-*

#outfile
outfile*
res
