#build
*.a
*.o
*.d
*.so
*.pcm
*build*

#job
jobs
output
backup

#scriptfile
*.sh

#plot
*.png
*.pdf

#install
*install*

Software/SONIC-KIAF/b3d/analyze
Software/SONIC-KIAF/b3d/b3d
Software/SONIC-KIAF/uvh2-1/generate
Software/SONIC-KIAF/uvh2-1/initE
Software/SONIC-KIAF/uvh2-1/vh2-2.1

Software/SONIC-Ubuntu/b3d/analyze
Software/SONIC-Ubuntu/b3d/b3d
Software/SONIC-Ubuntu/uvh2-1/generate
Software/SONIC-Ubuntu/uvh2-1/initE
Software/SONIC-Ubuntu/uvh2-1/vh2-2.1

Software/SONIC-Macos/b3d/analyze
Software/SONIC-Macos/b3d/b3d
Software/SONIC-Macos/uvh2-1/generate
Software/SONIC-Macos/uvh2-1/initE
Software/SONIC-Macos/uvh2-1/vh2-2.1

#SONIC template
*template*
initedFiles*

#MCGlauber
MCGlauber-*

#outfile
outfile*
res
