#build
*.a
*.o
*.d
*.so
*.pcm
*build*

#job
jobs
output
backup

#scriptfile
*.sh

#plot
*.png
*.pdf

#install
*install*

analyze
b3d
generate
initE
vh2-2.1

#SONIC template
*template*
initedFiles*

#MCGlauber
MCGlauber-*
runglauber*

#outfile
outfile*
res
